html {
  scroll-behavior: smooth;
}


.App {
  text-align: center;
  position: relative; /* Permet de positionner les enfants par-dessus le fond */
  z-index: 1; /* Assure que le contenu est au-dessus du fond d'étoiles */
}

/* Si nécessaire, ajuste les styles pour Banner, Home, etc. */
.Banner, .Home, .About, .Projects, .Resume {
  position: relative;
  z-index: 2; /* Assure que ces éléments sont au-dessus du fond */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
