
.port-banner {
	padding: 1rem;
	padding-top: 0%;
}

header {
	display: flex;
	align-items: center; /* Aligne verticalement le logo et le contenu */
	width: 100%; /* Prend toute la largeur */
	justify-content: space-between; /* Titre et navigation à droite */
}

.logo-title {
	display: flex;
	align-items: center; /* Aligne le logo et le titre verticalement */
	justify-content: space-between;
	width: auto;
}

header h1 {
	font-family: "Bebas Neue", serif;
	font-weight: 400;
	font-style: normal;
	margin : auto;
	font-size: 2.5em;
	color:rgb(99, 51, 240);
}

header nav {
	display: flex;
	gap: 3rem;
	padding : 30px;
}

header nav a {
	font-family: "Mada", serif;
    font-weight: 320;
	font-style: normal;
	font-size: 1.5rem;

	text-decoration: none; /* Pas de soulignement */
	color: rgb(99, 51, 240); /* Couleur du texte */
	transition: color 0.3s ease; /* Animation sur la couleur au survol */
}

header nav a:hover {
	font-size: 1.6rem; /* Augmente légèrement la taille au survol */
	color: rgb(0, 123, 255); /* Change la couleur */
	transition: all 0.3s ease; /* Animation fluide */
}
  
/*header nav a:active {
	background-color: #004085;
}*/


.banner_logo {
	height: auto;
	width: 50px;
	margin : 30px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.banner_logo {
	  animation: App-logo-spin infinite 5s linear;
	}
  }
  
@keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  