.Home-page {
    
    color :rgb(52, 119, 253);
}

.Home-page h1 {
    font-family: "Alegreya Sans", serif;
    font-weight: 400;
    font-style: normal;

    text-align: left;
    margin: 50px;
    font-size: 5em;
}

.Home-type {
    font-family: "Alegreya Sans", serif;
    font-weight: 500;
    font-style: normal;

    text-align: left;
    margin: 50px;
    font-size: 2em;
}