/* Conteneur de la liste des projets */
.projects-list {
    display: grid; /* Affichage en grille */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Colonnes responsives */
    gap: 20px; /* Espacement entre les cartes */
    padding: 20px; /* Marges internes autour de la liste */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre autour */
  }
  
  /* Carte de projet individuelle */
  .project-card {
    padding: 10px; /* Marges internes */
    margin: 12px;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    text-align: center; /* Centrer le texte */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Effets au survol */
  }
  
.projects-list h1 {
    color:white;
}

  /* Texte du titre dans les cartes */
  .project-card h2 {
    margin: 10px 0; /* Espacement autour du titre */
    font-size: 1.5rem; /* Taille de police */
    color: #201e1e; /* Couleur du texte */
  }
  
  /* Texte de la bio dans les cartes */
  .project-card p {
    font-size: 1rem; /* Taille de la bio */
    color: #666666; /* Couleur de la bio */
  }
  
  /* Effet au survol des cartes */
  .project-card:hover {
    transform: translateY(-5px); /* Légèrement en hauteur */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
  }